body{
    background:url('bjt.jpg') repeat-x;
}
*{
    margin:0px;
    padding:0px;
    list-style: none;
}
#box{
    width: 600px;
    height:500px;
    background: lawngreen;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -300px;
    margin-top: -250px;
    border-radius: 10px;
    padding-left: 100px;
}
h2{
    padding:30px 0 30px 0;
    font-size:30px;
    margin-left: 150px;
}
span{
    font-size: 12px;
    color: red;
}
input{
    width: 300px;
    height: 40px;
    background: #5E5F61;
    margin-bottom: 10px;
    font-size:15px;
    color: white;
    border-radius: 5px;
    padding-left: 5px;

}
input[type=submit]{
    height: 45px;
    width: 300px;
    background: gold;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
input[type=reset]{
    height: 45px;
    width: 80px;
    background: gold;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-left: 3px;
}
